.todo-list {
    padding: 5px 25px 5px 5px;
    display: flex;
    border-bottom: 1px solid #cccc;
    position: relative;
}

.form-check-input {
    display: unset;
}
span {
    line-height: 1.2rem;
}

.delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    &:hover {
        color: red;
    }
}